   @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root{
  --BG-color:hsl(233, 47%, 7%);
  --card-color:hsl(244, 38%, 16%);
  --IMG-color:hsl(277, 64%, 61%);
  --font-text:'Inter';
  --font-stat:'Lexend Decard';
}

body{
    background-color:var(--BG-color);
    min-height: 100vh;
    font-size:15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/**************MAIN CARD************/
#card{
    background-color:var(--card-color);
    border-radius:10px;
    width:330px;
    height:min-content;

}
/**********IMAGE*************/
#image{
width:100%;
height:240px;
background-image:linear-gradient(0deg,rgba(110, 10, 160, 0.5),rgba(110, 10, 160, 0.5)),url("../images/image-header-mobile.jpg");
background-position:center center;
background-size:cover;
}

#image:first-of-type{
    border-radius:10px 10px 0px 0px;
}
/*********TEXT***********/
#section-text{
    display:flex;
    flex-direction:column;
    text-align:center;
    padding:0 30px;
    gap:5px;

}
h1{

font-family:var(--font-text);
color:white;
font-weight:700;
font-size:30px;
}
h1 .highlighted_word{
    color:hsl(277, 64%, 61%);
}
#section-text p{
    margin-top:-10px;
    font-family:var(--font-text);
    color:hsla(0, 0%, 100%, 0.6);
    font-weight:100;
    font-size:13px;
    line-height:1.5;
    letter-spacing:1.1px;
}
/******STAT BOX*****/
#stat-box{
    font-family:var(--font-stat);
    margin-top:20px;
    padding-bottom:25px; /*gap btw last element & border*/
    display:flex;
    flex-direction:column;
    gap:14px;
    
   
}
#stat-box .num{
    font-size:25px;
    color:white;
    font-weight:bold;
    margin-bottom:10px;

    
}

#stat-box .cap{
     color:hsla(0, 0%, 100%, 0.6);
     font-weight:100;
     letter-spacing:1.5px;
     padding-bottom:15px;

}
/*******FOOTER*******/

footer{
    position:fixed;
    bottom:10px;
}
.attribution{
    font-family:var(--font-text);
    color:white;
    text-align: center;
}

footer a{
    color:hsl(277, 64%, 61%);
}

@media screen and (min-width:1250px){
    main{
        display:flex;
        flex-direction:row-reverse;
        min-width:1110px;
        height:455px;

    }
    #image{
        width:50%;
        height:455px;
        background-image:linear-gradient(0deg,rgba(110, 10, 160, 0.5),rgba(110, 10, 160, 0.5)),url("../images/image-header-desktop.jpg");
        background-size:cover;

}
    
    #section-text{
        width:50%;
        justify-content:center;
        text-align: left;
        position:relative;
        left: 50px;
        margin-right: 50px;
    }
    h1{
        width:80%;
        font-size:35px;
    }
    p{
        position:relative;
        top:20px;
    width: 80%;
    letter-spacing: 2px;
    font-size:20px;
}
    #stat-box{
    
        position:relative;
        width:80%;
        top:25px;
        text-align: left;
        flex-direction:row;
        align-items: center;
        justify-content: flex-start;
        gap:50px;
    }
}